@model PhotoHub.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <h2><strong>@Model.Username</strong></h2>
        @foreach (var image in @Model.Images)
        {
            <div class="col-md-4 mb-4">
                <a asp-action="Details" asp-controller="BlogPost" asp-route-id="@image.IdBlogPost" style="text-decoration: none; color: inherit;">
                    <div class="card">
                        <img src="@image.Url" class="card-img-top" alt="Image @image.IdImage" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<style>
    .card-img-top {
        height: 200px;
        object-fit: contain;
    }
</style>
